<h1 class="mt-4">Cadastro de Clientes!</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Formulário: </li>
</ol>
<div class="container">
  <form>
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>ID: </label>
            <input type="text" class="form-control" disabled="true">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Data de Cadastro: </label>
            <input type="text" class="form-control" disabled="true">
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" maxlength="150">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>CPF: * </label>
          <input type="text" class="form-control" minlength="14" maxlength="14">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Sexo: *</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Masculino</option>
            <option>Feminino</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputEmail4">Email: *</label>
          <input type="email" class="form-control" id="inputEmail4" maxlength="200">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Endereço: *</label>
          <input type="text" class="form-control" maxlength="200">
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form md-outline input-with-post-icon datepicker">
          <label for="example">Data de nascimento:</label>
          <input placeholder="Select date" type="date" id="example" class="form-control">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col md-2">
      <button type="submit" class="btn btn-success">
        <i class="fa fa-save"></i> Salvar
      </button>
    </div>
  </div>
  </form>
</div>
